{# <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!--添加一个访问量-->
    <span>
        本"<span style="color: rgb(13, 109, 252); font-weight: bold;">页面</a>
        </span>"访问 <span id="busuanzi_value_page_pv" style="color: rgb(13, 109, 252); font-weight: bold;"></span> 次 | 👀总访问 <span id="busuanzi_value_site_pv" style="color: rgb(13, 109, 252); font-weight: bold;"></span>                次 | 🥷总访客 <span id="busuanzi_value_site_uv" style="color: rgb(13, 109, 252); font-weight: bold;"></span> 人
    </span>
    </br>
    </br>
<script type="text/javascript">
    function show_runtime() {
        window.setTimeout("show_runtime()", 1000);
        X = new Date("2/23/2023 14:20:07");
        Y = new Date();
        T = (Y.getTime() - X.getTime());
        M = 24 * 60 * 60 * 1000;
        a = T / M;
        A = Math.floor(a);
        b = (a - A) * 24;
        B = Math.floor(b);
        c = (b - B) * 60;
        C = Math.floor((b - B) * 60);
        D = Math.floor((c - C) * 60);
        runtime_span.innerHTML = "⏱️This site has been running for " + A + " days, " + B + " hours, " + C + " minutes and " + D + " seconds"
    }
    show_runtime();
    </script>
    <span id="runtime_span"></span> #}

{# <script type="text/javascript" src="/javascript/footer.js"></script> #}
<script type="text/javascript" src="/javascript/custom.js"></script>