{# This is a live2D holo girl #}
{# <script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script> #}  

{# A firework clicking effect #}
{# <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
<script type="text/javascript" src="/javascript/fireworks.js"></script> #}

{# Created by ChatGPT #}
{# <script type="text/javascript" src="/javascript/custom.js"></script> #}

